---
import Button from "@/components/ui/Button.astro";
import Link from "@/components/ui/Link.astro";
import MenuBar from "@/components/ui/MenuBar.astro";
import Logo from "@/components/ui/Logo.astro";
import { CV } from "@/data/cv";

const  { header } = CV

const navItems = [
  { label: "Sobre mí", href: "#about" },
  { label: "Experiencia", href: "#experience" },
  { label: "Proyectos", href: "#projects" },
  { label: "Contacto", href: "#contact" },
];
---

<header
  class="w-full flex justify-center py-4 px-8 bg-brand-bg md:bg-brand-bg/90 backdrop-blur-sm border-b-4 border-brand-black sticky top-0 z-50"
>
  <div class="w-full max-w-7xl flex justify-between items-center">
    <Logo href="/#" name={header.fullName.name} lastname={header.fullName.lastname}/>

    <nav class="hidden lg:flex items-center gap-4">
      {
        navItems.map((item) => (
          <Link
            href={item.href}
            label={item.label}
            type="navbar"
          />
        ))
      }
      <Button
        as="a"
        href="/curriculum_camilo_illanes.pdf"
        target="_blank"
        variant="primary"
        class="ml-4"
      >
        Descargar CV
      </Button>
    </nav>

    <MenuBar id="menu-toggle" />
  </div>

  <div
    id="mobile-menu"
    class="hidden absolute top-19 left-0 w-full bg-brand-bg border-b-4 border-brand-black p-6 flex-col gap-6 lg:hidden shadow-xl"
  >
    {
      navItems.map((item) => (
        <a
          href={item.href}
          class="text-xl font-display uppercase text-center py-2 border-b-2 border-gray-100"
        >
          {item.label}
        </a>
      ))
    }
    <div class="flex justify-center mt-4">
      <Button as="a" href="/curriculum_camilo_illanes.pdf" target="_blank" variant="primary">
        Descargar CV
      </Button>
    </div>
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("flex");
  });

  mobileMenu?.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", () => {
      mobileMenu?.classList.add("hidden");
      mobileMenu?.classList.remove("flex");
    });
  });
</script>
